body{
  background-color: #80d4ff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.clock{
  margin-top: 8%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 15px solid #ffffe6;
  background-color: #b3ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.center{
  background-color: black;
  position: absolute;
  left: calc(50% -10px);
  top:calc(50% -10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.hourhand{
  width: 15px;
  height: 120px;
  position: absolute;
  top: 265px;
  transform-origin: bottom center;
  background-color: black;
  border-radius: 4px;
  z-index: 10;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(360deg);
}

.minutehand{
  width: 10px;
  height: 180px;
  position: absolute;
  top: 205px;
  transform-origin:bottom center;
  border-radius: 4px;
  background-color: black;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform: rotate(360deg);
  z-index: 20;
}

.secondhand{
  width: 3px;
  height: 200px;
  background-color: red;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  top:185px;
  transition: all 0.06s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  z-index: 8;
  transform-origin: bottom center;
  transform: rotate(360deg);
}

.time{
    position: absolute;
    top: 45%;
    left: 38%;
    border: 1px solid #fff8dc;
    background-color: #fff;
    padding: 5px;
    display: block;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    min-width: 70px;
    height: 15px;

}

.alarmtime{
  position: absolute;
  top: 45%;
  right: 38%;
  border: 1px solid #fff8dc;
  background-color: #fff;
  padding: 5px;
  display: block;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
  border-radius: 5px;
  min-width: 70px;
  height: 15px;
}

.time small{
  color: coral;
}

.clock ul{
    list-style: none;
    padding: 0;

}
.clock ul li{
    position: absolute;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color:coral;
}

.clock ul li:nth-child(1){
    right: 41.5%;
    top:22.5%;
}

.clock ul li:nth-child(11){
    left: 41.5%;
    top:22.5%;
}

.clock ul li:nth-child(2){
    right: 36.5%;
    top:33.5%;
}

.clock ul li:nth-child(10){
    left: 36.5%;
    top:33.5%;
}

.clock ul li:nth-child(8){
    left: 36%;
    top:63.5%;
}

.clock ul li:nth-child(4){
    right: 36%;
    top:63.5%;
}

.clock ul li:nth-child(5){
    right: 42%;
    top:75.5%;
}

.clock ul li:nth-child(7){
    left: 42%;
    top:75.5%;
}

.clock ul li:nth-child(12){
   right: calc(50% - 10px);
   top:19%;
   color:#000;
   font-size: 20px;
   font-weight: bold;
}

.clock ul li:nth-child(6){
   right: calc(50% - 10px);
   top:81%;
   color:#000;
   font-size: 20px;
   font-weight: bold;
}

.clock ul li:nth-child(3){
    right: 34%;
    top:calc(50% - 10px);
    color:#000;
    font-size: 20px;
    font-weight: bold;
}

.clock ul li:nth-child(9){
    left: 34%;
    top:calc(50% - 10px);
    color:#000;
    font-size: 20px;
    font-weight: bold;
}

.name-tag{
  width: 200px;
  height: 50px;
  border: 2px solid gold;
  border-radius: 15px;
  position: relative;
  top:20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: coral;
  box-shadow: inset 0px 3px 5px 3px gray;
}

.name-tag h3{
  color:white;
}


.alarm{
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left:70%;
  /* border:1px solid black; */
  width: 400px;
  height:70px;
}


.alarm-box{
  width: 130px;
  border-radius: 12px;
  border:0;
  margin-left: 10px;
  font-size: 45px;
  text-align: center;
}

.alarm-button{
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top:50%;
  left:70%;
  /* border:1px solid black; */
  width: 400px;
  height:70px;
}


.alarm-btn{
  border: 0;
  height: 50px;
  width: 150px;
  font-size: 15px;
  border-radius: 12px;
  background-color: #99ffeb;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
